.frame {
  display: inline-block;
  border: solid;
  border-color: black;
}

.clearButtonDiv {
  text-align: right;
}

.clearButton {
  background-color: rgb(200, 7, 7);
  padding: 2px 3px;
  color: whitesmoke;
}